<div class = 'entireapp'>

    <div class="header">Intelligent News Reader - A Bookmarking App</div>

    <nav class="nav"  >
        <a ui-sref='welcome'> Welcome</a>&nbsp;
        <a ui-sref='about'>  About</a>&nbsp;
        <a ng-show="isloggedin()" ui-sref='magazines'> Magazines</a>&nbsp;
        <a  ng-show="isloggedin()"  ui-sref='editorform'> Add</a>

        <a ng-hide="isloggedin()" ui-sref='register'> Register</a>&nbsp;
        <a ng-hide="isloggedin()"  ui-sref='login'> Login</a>&nbsp;

        <a  ng-show="isloggedin()"  ui-sref='users'> Users</a>&nbsp;


        <a  ng-show="isloggedin()"> Name:  </a>&nbsp;

        <a  ng-show="isloggedin()"  ui-sref='welcome' ng-click="logout()"> Logout</a>&nbsp;

    </nav>

    <hr>

    <div ui-view  class="main"></div>

    <br>

    <div class="footer"> © 2016 - Intelligent Bookmark</div>

</div>
