<div>
    <br>
    <h2>Login with Third Party Service</h2>
    <button ng-click="authenticate('twitter')">Sign in with Twitter</button><br><br>
    <button ng-click="authenticate('facebook')">Sign in with Facebook</button> Disabled<br>
    <button ng-click="authenticate('google')">Sign in with Google</button> Disabled

    <h2>Login with Username and Password</h2>

    <div>
        <br>
        <form data-ng-submit="User.registerValidUser(User);
			  User.userViewSwitch='profile';"
              name = "regForm"
              novalidate>

            <div class="form group">
                <input class= "form-control"
                       type="text"
                       size="50"
                       data-ng-model="User.username"
                       data-ng-change="User.checkthename(User.username)"
                       placeholder="Enter Username or email."
                       required>
            </div>
            <br>
            <div class="form group">
                <input class= "form-control" id="emailConfirm"  type="email"
                       size="50"
                       placeholder="Enter Password."
                       required>
            </div>
        </form>
 </div>