<div>
    <br>
    <h2>Login with Third Party Service</h2>
    <button ng-click="authenticate('twitter')">Sign in with Twitter</button><br><br>
    <button ng-click="authenticate('facebook')">Sign in with Facebook</button> Disabled<br>
    <button ng-click="authenticate('google')">Sign in with Google</button> Disabled

    <h2>Login with Username and Password</h2>

    <div>
        <br>
        <!--<form ng-submit="submit()"  >-->
            <!--Enter text and hit enter:-->
            <!--<input type="text" ng-model="text" name="text" />-->
            <!--<input type="submit" id="submit" value="Submit" />-->
            <!--<pre>list={{list}}</pre>-->
        <!--</form>-->

        <form ng-submit ="submit(User)"
              novalidate>

            <div class="form group">
                <input ng-model="User.username""
                       type="text"
                       size="50"
                       placeholder="Enter Username or email."
                       required>
            </div>
            <br>

            <div class="form group">
                <input type="password"
                       ng-model="User.password"
                       size="50"
                       placeholder="Enter Password"
                       required>
            </div>

            <input type="submit" id="submit" value="Submit"/>

            <pre>list={{list}}</pre>

        </form>
 </div>

