/*depricated

p {
    color: blue;
    background-color: lightgrey;
    font-weight: bolder;
    padding: 20px;
    font-size: 1.2rem;
}

td {border: 1px solid orange; padding: 5px;}


.details {
    border: 1px solid steelblue;
}

.picture {
    position: absolute;
    top: 0; right: 0;
    height: 100px;
    width: 100px;
    background: yellow;
}

.availability {
    position: absolute;
    left: 0; right: 0; bottom: 0;
    height: 100px;
    border: 1px dashed red;
}

*/